<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}- Welcome to Digital Forensic Solution Website -{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Digital Forensic Solution (DFS)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if nav == 'home' %}active{% endif %}">
                <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/software">Phần mềm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Hỏi đáp</a>
            </li>
            </li>
            <li class="nav-item {% if nav == 'about' %}active{% endif %}">
                <a class="nav-link" href="{% url 'about' %}">Giới thiệu</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {%  if not user.is_authenticated %}
        <ul class="navbar-nav ml-2">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Đăng Nhập </a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'register' %}">Đăng Ký </a>
            </li>
        </ul>
        {% else %}
            <ul class="navbar-nav ml-2">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">
                        Hồ Sơ
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>

{% block content %} {% endblock %}

</body>
</html>